@import '../css/variables';

.portfolio {
  font-size: 0;

  .portfolio-contents,
  .portfolio-images {
    display: inline-block;
    width: 50%;
    font-size: 14px;
    vertical-align: top;
    @media (max-width: $sm-size) {
      display: block;
      width: 100%;
    }
  }

  .portfolio-images {
    height: $except-header-height;
    overflow-y: auto;
    @media (max-width: $sm-size) {
      height: auto;
    }

    img {
      padding: $container-horizon-padding;
      width: 100%;
      height: auto;
    }
  }
}
