@import '../css/variables';

.resume {
  margin: auto;
  width: 100%;
  max-width: 720px;
  @media print {
    max-width: 100%;
  }

  & > section > ul > li > ul {
    margin: 0 0 16px;
  }

  .profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  .btn-print {
    color: $text-color;
    // background-color: transparent;
    // border: 0;
    cursor: pointer;
    @media print {
      display: none;
    }

    &:hover,
    &:focus {
      opacity: .7;
    }
  }

  .social-networks {
    @media print {
      display: none;
    }

    a {
      margin: 0 4px;
      font-size: 20px;
    }
  }

  ul {
    padding: 0 0 0 20px;
    line-height: 2em;

    p {
      margin: 0;
    }
  }
}
