@import '../css/variables';

.main-container {
  .bio {
    margin: 1em 0 2em;
  }
}

.posts {
  margin: 0 (-1 * $container-horizon-padding);
  width: auto;
  font-size: 0;

  .no-results {
    margin: 40px 0;
    font-size: 16px;
  }

  .post-card {
    display: inline-block;
    padding: 0 $container-horizon-padding;
    width: 100%;
    font-size: 16px;
    vertical-align: top;
    @media (min-width: $md-size) {
      width: 33.3333%;
    }
    @media (min-width: $lg-size) {
      width: 25%;
    }

    .card-content {
      display: block;
      padding: 1em;
      background-color: transparent;
      border-radius: 8px;
      transition: background-color 0.5s ease 0s;

      &:hover {
        background-color: $border-color;
      }

      & > a {
        color: inherit;
        text-decoration: blink;

        &:hover {
          h3,
          p {
            text-decoration: underline;
          }
        }
      }

      .tags a {
        color: inherit;
        text-decoration: blink;
        &:hover {
          small {
            text-decoration: underline;
          }
        }
      }
    }

    h3 {
      margin: 0;
      padding: 0 0 1em 0;
    }

    p {
      margin: 0;
      padding: 1em 0;

      & > div {
        line-height: 1.5em;
        max-height: 4.5em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .tag-icon {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 18px;
      height: 18px;
      vertical-align: middle;
    }

    .tags {
      padding: 0 0 0 18px;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;

      small {
        margin-left: 4px;
        vertical-align: top;
      }
    }
  }
}

.post {
  & > div {
    padding: 1em 0 0;
  }

  @import '../css/zenburn';

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2em 0 1em;
  }

	blockquote {
		margin: 1.5em 10px;
		padding: 0.5em 10px;
		background: #f9f9f9;
		border-left: 10px solid $border-color;
		quotes: "\201C""\201D""\2018""\2019";

    &:before {
      margin-right: 0.25em;
      color: #ccc;
      line-height: 0.1em;
      font-size: 3em;
      vertical-align: -0.4em;
      content: open-quote;
    }

    p {
      display: inline;
    }
	}

  ul {
    line-height: 1.6em;
  }

  .react-component-in-post {
    position: relative;
    margin: 1em 0 1em;
    padding: 55px 16px 16px;
    color: #263238;
    border: 1px solid #263238;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding: 0 0 0 80px;
      width: 100%;
      height: 35px;
      line-height: 35px;
      color: #fff;
      background-color: #263238;
      font-weight: 100;
      content: 'Application for example';
    }

    &:after {
      display: inline-block;
      position: absolute;
      top: 15px;
      left: 20px;
      width: 10px;
      height: 10px;
      background-color: #ff5f56;
      border-radius: 50%;
      content: '';
    }

    & > *:first-child {
      &:before {
        display: inline-block;
        position: absolute;
        top: 15px;
        left: 40px;
        width: 10px;
        height: 10px;
        background-color: #ffbd2e;
        border-radius: 50%;
        content: '';
      }

      &:after {
        display: inline-block;
        position: absolute;
        top: 15px;
        left: 60px;
        width: 10px;
        height: 10px;
        background-color: #27c93f;
        border-radius: 50%;
        content: '';
      }
    }
  }

  .twitter-tweet {
    margin-right: auto;
    margin-left: auto;
  }
}

.pagination {
  margin: 20px 0;
  text-align: center;

  a {
    text-decoration: blink;

    &:hover {
      text-decoration: underline;
    }
  }
}
