/* ratios */
$contrast-ratio: 25%;
$shrink-ratio: 0.98;

/* colors */
$point-color: #00b4ff;
$point-color--darken: darken($point-color, $contrast-ratio);
$point-color--lighten: lighten($point-color, $contrast-ratio);

$text-color: #515151;
$text-color--darken: darken($text-color, $contrast-ratio);
$text-color--lighten: lighten($text-color, $contrast-ratio);

$border-color: #eee;
$border-color--darken: darken($border-color, $contrast-ratio);
$border-color--lighten: lighten($border-color, $contrast-ratio);

/* length */
$xl-size: 1200px;
$lg-size: 992px;
$md-size: 768px;
$sm-size: 414px;
$xs-size: 320px;

$container-max-width-xl: $shrink-ratio * $xl-size;
$container-max-width-lg: $shrink-ratio * $lg-size;
$container-max-width-md: $shrink-ratio * $md-size;
$container-max-width-sm: $shrink-ratio * $sm-size;
$container-max-width-xs: $shrink-ratio * $xs-size;

$container-horizon-padding: 16px;

$header-height: 80px;
