@import '../css/variables';

.header {
  height: $header-height;
  line-height: $header-height;
  @media print {
    display: none;
  }

  a {
    text-decoration: blink;
  }

  .list-layout {
    & > li {
      padding: 0 20px;
    }

    &:not(.sub-menus) > li {
      &:hover a + .sub-menus {
        max-height: 500px;
        box-shadow: 2px 2px 6px 1px;
        transition: box-shadow .4s ease .01s;
      }
    }

    &.sub-menus {
      position: absolute;
      margin: 0 0 0 -20px;
      max-height: 0;
      line-height: 2em;
      background-color: #fff;
      box-shadow: 0 0 0 0;
      overflow: hidden;
      transition: max-height .4s ease, box-shadow .4s ease;
      z-index: 9;

      &.mobile {
        position: relative;
        margin: 0;
        line-height: 3em;
      }

      li:last-of-type {
        padding: 0 20px 10px;
      }

      br:last-child {
        display: none;
      }
    }
  }

  .gnb {
    display: none;
    float: right;
    @media (min-width: $md-size) {
      display: inline-block;
    }
  }

  .mobile-gnb {
    position: fixed;
    top: 0;
    left: -80%;
    width: 80%;
    height: 100%;
    line-height: 4em;
    background-color: #fff;
    z-index: 3;
    transition: left .4s ease;
    overflow-y: auto;

    .search-bar-wrapper {
      display: block;
      float: none;
    }

    .search-bar-contents {
      &:after {
        position: absolute;
        display: inline-block;
        top: 26px;
        right: 8px;
        margin: auto;
        width: 14px;
        height: 14px;
        font: normal normal normal 14px/1 FontAwesome;
        z-index: 3;
        content: "\f002";
      }
    }

    .search-bar {
      padding: 0 20px 0 4px;
      width: 100%;
      height: 2em;
      line-height: 2em;
      color: $text-color;
      border: 1px solid #eee;
      border-radius: 4px;
      outline: 0;

      &:focus {
        border-color: $point-color;
      }
    }

    .search-bar-wrapper .search-results {
      position: static;
      margin: 12px 0 0;
      padding: 16px 0 0;
      width: 100%;
      max-height: none;
      background-color: transparent;
      border-top: 1px solid $text-color;
      box-shadow: 0 0 0 0;
      overflow: visible;
    }

    .hamburger-posts-opener {
      & + label {
        .fa-caret-down {
          display: inline;
        }

        .fa-caret-up {
          display: none;
        }

        & + .sub-menus.mobile {
          max-height: 0;
        }
      }

      &:checked + label {
        .fa-caret-down {
          display: none;
        }

        .fa-caret-up {
          display: inline;
        }

        & + .sub-menus.mobile {
          max-height: 500px;
        }
      }
    }

    .mobile {
      li {
        padding: 0 0 0 20px;
        white-space: nowrap;
      }

      a {
        display: block;
      }

      br {
        display: none;
      }
    }

    ul li {
      display: block;

      label {
        display: block;
        margin: 0 -20px;
        padding: 0 20px;
        color: $point-color;
        cursor: pointer;

        &:active,
        &:hover {
          color: $point-color--lighten;
        }

        &:focus {
          outline: 0;
        }
      }
    }
  }

  .mobile-gnb-background {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    z-index: 1;
    transition: opacity .4s ease 0s, left .4s ease .4s;
  }

  .hamburger {
    display: inline-block;
    position: relative;
    float: right;
    margin: 20px 0;
    padding: 0;
    width: 40px;
    height: 24px;
    background-color: transparent;
    border: 0;
    outline: 0;
    @media (min-width: $md-size) {
      display: none;
    }

    .hamburger-inner {
      top: 50%;
      margin-top: -2px;

      &,
      &:before,
      &:after {
        display: block;
        position: absolute;
        width: 40px;
        height: 4px;
        background-color: $point-color;
        border-radius: 4px;
        content: "";
        transition-property: transform;
        transition-timing-function: cubic-bezier(.55,.055,.675,.19);
        transition-duration: 75ms;
      }

      &:before {
        top: -10px;
        transition: top 75ms ease .12s, opacity 75ms ease;
      }

      &:after {
        transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55,.055,.675,.19);
        bottom: -10px;
      }
    }
  }

  .hamburger-trigger {
    display: none;

    &:checked + .hamburger > .hamburger-inner {
      & {
        transition-delay: .12s;
        transition-timing-function: cubic-bezier(.215,.61,.355,1);
        transform: rotate(45deg);
      }

      &:before {
        top: 0;
        transition: top 75ms ease,opacity 75ms ease .12s;
        opacity: 0;
      }

      &:after {
        bottom: 0;
        transition: bottom 75ms ease, transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
        transform: rotate(-90deg);
      }
    }

    &:checked ~ .mobile-gnb {
      left: 0;
      box-shadow: 2px 0px 5px 1px #000;
    }

    &:checked ~ .mobile-gnb-background {
      left: 0;
      opacity: .7;
      transition: opacity .4s ease 0s, left 0s ease 0s;
    }
  }
}

.search-bar-wrapper {
  display: none;
  position: relative;
  float: right;
  @media (min-width: $md-size) {
    display: block;
  }

  #searchbar-trigger {
    & ~ .search-bar-contents {
      position: relative;
      margin: 0 24px 0 0;
      width: 0;
      overflow: hidden;
      transition: width .4s ease 0s;

      input {
        padding: 0 4px;
        width: 100%;
        height: 2em;
        line-height: 2em;
        border: 1px solid $border-color;
        border-radius: 4px;

        &:focus {
          border-color: $point-color;
          outline: 0;
        }
      }
    }

    &:checked ~ .search-bar-contents {
      width: 180px;
    }
  }

  .magnifier {
    float: right;
    color: $text-color;
    cursor: pointer;
    z-index: 5;

    &:hover {
      color: $point-color;
    }

    &:focus {
      outline: 0;
    }
  }

  .search-results {
    position: absolute;
    top: $header-height;
    width: 320px;
    max-height: 240px;
    line-height: 32px;
    background-color: #fff;
    box-shadow: 2px 2px 6px 1px;
    overflow-y: auto;
    z-index: 3;

    li {
      padding: 0;
      width: 100%;
      line-height: 20px;
      border-bottom: 1px solid $border-color;
    }

    a {
      display: block;
      padding: 0 8px;
      width: 100%;
    }

    i {
      display: inline-block;
    }

    strong,
    span {
      display: inline-block;
      color: $text-color;
      font-weight: 400;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    strong {
      width: 100%;
      height: 24px;
      line-height: 24px;
      font-size: 14px;
    }

    span {
      height: 20px;
      line-height: 20px;
      font-size: 10px;
    }

    i {
      margin: 0 4px 0 0;
    }

    a:hover {
      strong,
      span {
        color: $point-color;
        text-decoration: underline;
      }
    }
  }
}
