@import '../css/variables';

.header {
  height: $header-height;
  line-height: $header-height;
  @media print {
    display: none;
  }

  a {
    text-decoration: blink;
  }

  .list-layout {
    & > li {
      padding: 0 20px;
    }

    &:not(.sub-menus) > li {
      &:hover a + .sub-menus {
        max-height: 500px;
      }
    }

    &.sub-menus {
      position: absolute;
      margin: 0 0 0 -20px;
      max-height: 0;
      line-height: 2em;
      background-color: #fff;
      overflow: hidden;
      transition: max-height .4s ease;
      z-index: 9;

      &.mobile {
        position: relative;
        margin: 0;
        line-height: 3em;
      }

      br:last-child {
        display: none;
      }
    }
  }

  .gnb {
    display: none;
    float: right;
    @media (min-width: $md-size) {
      display: inline-block;
    }
  }

  .mobile-gnb {
    position: fixed;
    top: 0;
    left: -80%;
    width: 80%;
    height: 100%;
    line-height: 4em;
    background-color: #fff;
    z-index: 3;
    transition: left .4s ease;

    .hamburger-posts-opener {
      & + label {
        .fa-caret-down {
          display: inline;
        }

        .fa-caret-up {
          display: none;
        }

        & + .sub-menus.mobile {
          max-height: 0;
        }
      }

      &:checked + label {
        .fa-caret-down {
          display: none;
        }

        .fa-caret-up {
          display: inline;
        }

        & + .sub-menus.mobile {
          max-height: 500px;
        }
      }
    }

    .mobile {
      li {
        padding: 0 0 0 20px;
        white-space: nowrap;
      }

      br {
        display: none;
      }
    }

    ul li {
      display: block;

      label {
        color: $point-color;
        cursor: pointer;

        &:active,
        &:hover {
          color: $point-color--lighten;
        }
      }
    }
  }

  .mobile-gnb-background {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    z-index: 1;
    transition: opacity .4s ease 0s, left .4s ease .4s;
  }

  .hamburger {
    display: inline-block;
    position: relative;
    float: right;
    margin: 20px 0;
    padding: 0;
    width: 40px;
    height: 24px;
    background-color: transparent;
    border: 0;
    outline: 0;
    @media (min-width: $md-size) {
      display: none;
    }

    .hamburger-inner {
      top: 50%;
      margin-top: -2px;

      &,
      &:before,
      &:after {
        display: block;
        position: absolute;
        width: 40px;
        height: 4px;
        background-color: $point-color;
        border-radius: 4px;
        content: "";
        transition-property: transform;
        transition-timing-function: cubic-bezier(.55,.055,.675,.19);
        transition-duration: 75ms;
      }

      &:before {
        top: -10px;
        transition: top 75ms ease .12s, opacity 75ms ease;
      }

      &:after {
        transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55,.055,.675,.19);
        bottom: -10px;
      }
    }
  }

  .hamburger-trigger {
    display: none;

    &:checked + .hamburger > .hamburger-inner {
      & {
        transition-delay: .12s;
        transition-timing-function: cubic-bezier(.215,.61,.355,1);
        transform: rotate(45deg);
      }

      &:before {
        top: 0;
        transition: top 75ms ease,opacity 75ms ease .12s;
        opacity: 0;
      }

      &:after {
        bottom: 0;
        transition: bottom 75ms ease, transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
        transform: rotate(-90deg);
      }
    }

    &:checked ~ .mobile-gnb {
      left: 0;
      box-shadow: 2px 0px 5px 1px #000;
    }

    &:checked ~ .mobile-gnb-background {
      left: 0;
      opacity: .7;
      transition: opacity .4s ease 0s, left 0s ease 0s;
    }
  }
}
