@import 'normalize';
@import 'box-sizing';
@import '../css/variables';

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://cdn.jsdelivr.net/font-d2coding/1.2.1/d2coding.css');

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: $point-color;
  border-radius: 6px;
}

body {
  font-family: 'Lato', sans-serif;
  color: $text-color;
}

a {
  color: $point-color;

  &:focus, &:hover {
    color: $point-color--lighten;
  }

  /*
  &:visited {
    color: $point-color--darken;
  }
  */
}

.header,
.container {
  margin: auto;
  @media (min-width: $xs-size) {
    max-width: $container-max-width-xs;
  }
  @media (min-width: $sm-size) {
    max-width: $container-max-width-sm;
  }
  @media (min-width: $md-size) {
    max-width: $container-max-width-md;
  }
  @media (min-width: $lg-size) {
    max-width: $container-max-width-lg;
  }
  @media (min-width: $xl-size) {
    max-width: $container-max-width-xl;
  }
}

.clearfix {
  display: block;
  position: relative;
  content: '';
  clear: both;

  &:before,
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

.none {
  display: none !important;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.list-layout {
  margin: 0;
  padding: 0;
  list-style: none;

  & > li {
    display: inline-block;
    padding: 0 10px;
    cursor: default;
  }
}

.adsbygoogle {
  margin: 16px 0;
  text-align: center;
}

.bio {
  @media (max-width: $sm-size) {
    text-align: center;
    img {
      margin: 0;
    }

    span {
      margin: 8px 0;
    }
  }
}
